html, body, #app {
  height: 100%;
}

html {
  font-size: 16px;
}

@media (min-width: 1650px) {
  .sider-bar-box {
    width: 350px !important;
  }
  .top-bar-box {
    width: calc(100% - 350px - 10%) !important;
    left: 350px !important;
    padding-left: 10% !important;
  }
  .container-box {
    width: calc(100% - 350px - 10%) !important;
    margin-left: 350px !important;
    padding-left: 10% !important;
  }
}

@media (max-width: 1199px) {
  .right-bar-box {
    display: none;
  }
  .top-bar-box .search-box {
    width: 200px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container-box .main-box {
    width: 96% !important;
  }
}

@media (min-width: 849px) and (max-width: 992px) {
  .container-box .main-box {
    width: calc(100% - 50px) !important;
  }
}

@media (max-width: 849px) {
  .sider-bar-box {
    -webkit-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transform: translateX(-260px);
    -webkit-transform: translateX(-254px);
  }
  .top-bar-box {
    left: 0 !important;
    width: calc(100% - 3%) !important;
    justify-content: space-between;
    transition: transform 0.4s ease, top 0.2s ease;
  }
  .top-bar-box .bread-box {
    display: none;
  }
  .top-bar-box .search-box {
    display: none !important;
  }
  .top-bar-box .nav {
    display: block !important;
  }
  .top-bar-box .search-tigger {
    display: block !important;
  }
  .container-box {
    margin-left: 0 !important;
    width: calc(100% - 6%) !important;
    transition: transform 0.4s ease, top 0.2s ease;
  }
  .container-box .main-box {
    width: 100% !important;
  }
  .siderbar-show {
    overflow-x: hidden;
  }
  .siderbar-show .sider-bar-box {
    transform: translateX(0);
  }
  .siderbar-show .top-bar-box, .siderbar-show .container-box {
    transform: translateX(260px);
  }
}
