{
    "env": {
      "es6": true,
      "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2018
    },
    "rules": {
      "indent": [
        "error",
        4
      ],
      "quotes": [
        "error",
        "single"
      ],
      "semi": [
        "error",
        "always"
      ],
      "no-console": "off",
      "no-self-assign": "off",
      "no-unused-vars": "off",
      "comma-spacing": [2, { "before": false, "after": true }], // 逗号后面有空格，前面没有
      "key-spacing": [2, { "beforeColon": false, "afterColon": true }], // 冒号后面有空格，前面没有
      "space-before-function-paren": [0, "always"],//函数定义时括号前面要不要有空格
      "array-bracket-spacing": [2, "never"],
      "object-curly-spacing": ["error","always"], // 大括号中间必须要有空格
      "space-before-blocks": [2, "always"],
    }
  }